---
- name: Install environment
  hosts: local
  connection: local
  vars:
    user: "{{ lookup('env', 'USER') }}"
    dir: "{{ playbook_dir }}"
    fdir: "$HOME/.local/share/fonts"
  tasks:
  - name: banner
    debug:
      msg: "Environment by @ch1od0, thx to @r1vs3c and @s4vitar."

  - name: Installing firejail...
    became: true
    shell:
      cmd: git clone https://github.com/netblue30/firejail.git && cd firejail && ./configure && make && make install-strip
      chdir: "{{ dir }}"

  - name: Installing necessary packages for the environment...
    become: true
    apt:
      name: 
        - alacritty
        - kitty
        - rofi
        - feh
        - xclip
        - ranger
        - i3lock-fancy
        - scrot
        - scrub
        - wmname
        - imagemagick
        - cmatrix
        - htop
        - python3-pip
        - procps
        - tty-clock
        - fzf
        - lsd
        - bat
        - pamixer
        - flameshot
      state: present

  - name: Clone neofetch
    git:
      repo: "https://github.com/dylanaraps/neofetch.git"
      dest: "/opt/neofetch"
      version: master

  - name: Install neofetch script
    copy:
      src: "/opt/neofetch/neofetch"
      dest: "/usr/local/bin/neofetch"
      mode: "0755"
      
  - name: Installing necessary dependencies for bspwm...
    become: true
    apt:
      name: 
        - build-essential
        - git
        - vim
        - libxcb-util0-dev
        - libxcb-ewmh-dev
        - libxcb-randr0-dev
        - libxcb-icccm4-dev
        - libxcb-keysyms1-dev
        - libxcb-xinerama0-dev
        - libasound2-dev
        - libxcb-xtest0-dev
        - libxcb-shape0-dev
        - libuv1-dev
      state: present

  - name: Installing necessary dependencies for polybar...
    become: true
    apt:
      name: 
        - cmake
        - cmake-data
        - pkg-config
        - python3-sphinx
        - libcairo2-dev
        - libxcb1-dev
        - libxcb-util0-dev
        - libxcb-randr0-dev
        - libxcb-composite0-dev
        - python3-xcbgen
        - xcb-proto
        - libxcb-image0-dev
        - libxcb-ewmh-dev
        - libxcb-icccm4-dev
        - libxcb-xkb-dev
        - libxcb-xrm-dev
        - libxcb-cursor-dev
        - libasound2-dev
        - libpulse-dev
        - libjsoncpp-dev
        - libmpdclient-dev
        - libcurl4-openssl-dev
        - libnl-genl-3-dev
      state: present

  - name: Installing necessary dependencies for picom...
    become: true
    apt:
      name: 
        - meson
        - libxext-dev
        - libxcb1-dev
        - libxcb-damage0-dev
        - libxcb-xfixes0-dev
        - libxcb-shape0-dev
        - libxcb-render-util0-dev
        - libxcb-render0-dev
        - libxcb-randr0-dev
        - libxcb-composite0-dev
        - libxcb-image0-dev
        - libxcb-present-dev
        - libxcb-xinerama0-dev
        - libpixman-1-dev
        - libdbus-1-dev
        - libconfig-dev
        - libgl1-mesa-dev
        - libpcre2-dev
        - libpcre3-dev
        - libevdev-dev
        - uthash-dev
        - libev-dev
        - libx11-xcb-dev
        - libxcb-glx0-dev
      state: present

  - name: Cloning bspwm and sxhkd repositories
    git:
      repo: https://github.com/baskerville/{{ item }}.git
      dest: "{{ dir }}/tools/{{ item }}"
    loop:
      - bspwm
      - sxhkd

  - name: Cloning polybar
    git:
      repo: https://github.com/polybar/polybar
      dest: "{{ dir }}/tools/polybar"

  - name: Cloning picom
    git:
      repo: https://github.com/ibhagwan/picom.git
      dest: "{{ dir }}/tools/picom"

  - name: Installing bspwm...
    shell: 
      cmd: make -j$(nproc) && sudo make install && sudo apt install bspwm -y
      chdir: "{{ dir }}/tools/bspwm"

  - name: Installing sxhkd...
    shell: 
      cmd: make -j$(nproc) && sudo make install
      chdir: "{{ dir }}/tools/sxhkd"

  - name: Installing polybar...
    shell: 
      cmd: mkdir build && cd build && cmake .. && make -j$(nproc) && sudo make install
      chdir: "{{ dir }}/tools/polybar"

  - name: Installing picom...
    shell: 
      cmd: git submodule update --init --recursive && meson --buildtype=release . build && ninja -C build && sudo ninja -C build install
      chdir: "{{ dir }}/tools/picom"

  - name: Installing Powerlevel10k for user {{ user }}...
    shell: 
    became: false
      cmd: git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ~/powerlevel10k
      chdir: "{{ dir }}"

  - name: Installing Powerlevel10k for user root...
    become: true
    shell: 
      cmd: sudo git clone --depth=1 https://github.com/romkatv/powerlevel10k.git /root/powerlevel10k
      chdir: "{{ dir }}"

  - name: Install fzf for {{ user }}
    become: false
    shell: |
      git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
      ~/.fzf/install --all

  - name: Install fzf for root
    become: true
    shell: |
      git clone --depth 1 https://github.com/junegunn/fzf.git /root/.fzf
      /root/.fzf/install --all

  - name: Configuring fonts...
    shell:
      cmd: mkdir -p {{ fdir }} && cp -rv {{ dir }}/fonts/* {{ fdir }}
      chdir: "{{ dir }}"

  - name: Configuring wallpaper...
    shell:
      cmd: mkdir ~/Wallpapers && cp -rv  {{ dir }}/wallpapers/* ~/Wallpapers
      chdir: "{{ dir }}"

  - name: Configuring configuration files...
    shell:
      cmd: cp -rv {{ dir }}/config/* ~/.config/
      chdir: "{{ dir }}"

  - name: Configuring the .zshrc and .p10k.zsh files for {{ user }}
    become: false
    shell:
      cmd: cp -v .zshrc ~/.zshrc && cp -v .p10k.zsh ~
      chdir: "{{ dir }}"

  - name: Configuring the .zshrc and .p10k.zsh files for root
    become: true
    shell:
      cmd: ln -sfv /home/{{ user }}/.zshrc /root/.zshrc && cp -v root/.p10k.zsh /root/ && mkdir -p /usr/share/zsh-sudo/ && cp -v sudo.plugin.zsh /usr/share/zsh-sudo/
      chdir: "{{ dir }}"

  - name: Run polybar
    shell:
      cmd: polybar &
      chdir: "{{ dir }}"

  - name: Install whichSystem.py
    become: true
    copy:
      src: "{{ dir }}/scripts/whichSystem.py"
      dest: /usr/local/bin/whichSystem.py
      mode: '0755'

  - name: Copy polybar scripts
    become: false
    shell: |
      mkdir -p ~/.config/polybar/shapes/scripts/
      cp -rv {{ dir }}/scripts/*.sh ~/.config/polybar/shapes/scripts/
      touch ~/.config/polybar/shapes/scripts/target
    args:
      executable: /bin/bash

  - name: Run colors-dark.sh
    become: false
    shell: |
      ~/.config/polybar/shapes/scripts/colors-dark.sh --teal
    args:
      executable: /bin/bash

  - name: Make bspwm config executable
    shell: chmod -R +x ~/.config/bspwm/
    become: false

  - name: Make polybar launch.sh executable
    shell: chmod +x ~/.config/polybar/launch.sh
    become: false

  - name: Make polybar scripts executable
    shell: chmod +x ~/.config/polybar/shapes/scripts/*
    become: false


  - name: Make whichSystem.py executable
    become: true
    file:
      path: /usr/local/bin/whichSystem.py
      mode: '0755'

  - name: Make _bspc executable and set ownership
    become: true
    shell: |
      chmod +x /usr/local/share/zsh/site-functions/_bspc
      chown root:root /usr/local/share/zsh/site-functions/_bspc
    args:
      executable: /bin/bash

  - name: Prepare root polybar scripts folder
    become: true
    shell: |
      mkdir -p /root/.config/polybar/shapes/scripts/
      touch /root/.config/polybar/shapes/scripts/target
      ln -sfv /home/{{ user }}/.config/polybar/shapes/scripts/target /root/.config/polybar/shapes/scripts/target
    args:
      executable: /bin/bash

  - name: Fix time zone...
    became: true
    shell:
      cmd: timedatectl set-timezone Europe/Madrid
      chdir: "{{ dir }}"




